@import "tailwindcss";

body {
	font-family: 'League Spartan Variable', sans-serif;
	background-color: #00041A;
}

body h1, h2, h3 {
	color: #FFFFFF;
}

/* Scroll */
* {
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track,
body {
	background-color: #00041A;
	overflow-x: clip;
}

*::-webkit-scrollbar-thumb {
	background-color: #2b25a0 !important;
	border-radius: 20px;
	border: 5px solid #00041A;
}

@media (min-width: 540px) {
	.--highlight {
		position: relative;
	}

	.--highlight::before {
		content: '';
		background-color: #094E18;
		position: absolute;
		width: 102%;
		height: 22px;
		left: -1%;
		bottom: -2px;
		mix-blend-mode: lighten;
	}
}