---
import Layout from '../layouts/Layout.astro';
import VideoEmbed from '../components/VideoEmbed.astro';
import Faqs from '../components/Faqs.astro';
---

<Layout>
	<div class="relative overflow-clip">
		<div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 -left-[310px] -top-[400px]"></div>
		<div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 -right-[310px] top-[600px]"></div>
		<section class="pb-[60px] pt-[40px] md:py-[60px] relative px-4">
		  <div class="max-w-[900px] mx-auto">
			<img class="h-[30px] md:h-[45px] object-contain mx-auto mb-8" src="/images/biofounders.png" alt="Bio Founders" />
			<p class="text-white/80 font-medium text-[16px] md:text-[20px] text-center mb-4">+100 yoga teachers trabajando con nosotros</p>
			<h1 class="text-[22px] leading-[26px] md:text-[44px] font-bold md:leading-[42px] text-center">
			  Sumamos entre <span class="--highlight">10 y 40 alumnos nuevos</span> por mes para tus
			  clases de Yoga con nuestro Sistema de Anuncios
			</h1>
			<p class="text-white/80 font-medium text-[16px] md:text-[20px] text-center mt-4 mb-8">Mira el video y descubrí cómo lo hacemos</p>
			<VideoEmbed />
			<div>
				<a href="" class="bf-btn mt-8">Agendar Consulta Gratuita »</a>
				<p class="text-white/80 text-center mt-2">¡Ultimas plazas del mes!</p>
			</div>
		  </div>
		</section>
		<section class="relative pt-[60px] pb-[100px] px-4">
			<p class="text-white/80 font-medium text-[16px] md:text-[20px] text-center mb-4">Hemos ayudado a +100 coaches como vos</p>
			<h2 class="text-center text-white font-bold text-[26px] md:text-[36px] max-w-[400px] leading-[120%] mx-auto mb-8">Resultados de nuestro sistema...</h2>
			<div class="max-w-[900px] mx-auto">
				<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/l4mhpjya0l?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/88j5ccvet1?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/p824mmmqp4?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/b8xn8u9ucz?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/g0tibj3njb?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/782997tbkq?web_component=true&seo=true&videoFoam=false"></iframe>
					{/* Cambiar */}
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/g0tibj3njb?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/782997tbkq?web_component=true&seo=true&videoFoam=false"></iframe>
				</div>
				<div class="mt-8">
					<a href="" class="bf-btn">Agendar Consulta Gratuita »</a>
					<p class="text-white/80 text-center mt-2">¡Ultimas plazas del mes!</p>
				</div>
			</div>
		</section>
		<section class="py-[60px] bg-white px-4">
		  <div class="max-w-[600px] mx-auto">
			<p class="text-[#111]">
			  Copy muy bueno
			</p>
		  </div>
		</section>		
		<Faqs />
		<img class="h-[35px] md:h-[45px] object-contain mx-auto mb-8" src="/images/biofounders.png" alt="Bio Founders" />
		<p class="text-white/80 text-[14px] md:text-[16px] text-center pb-8">© Biofounders 2025. Todos los derechos reservados.</p>
		<script is:inline >
		  	!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1481141145776631');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style={{ 'display': 'none' }}
		  src="https://www.facebook.com/tr?id=1481141145776631&ev=PageView&noscript=1"
		/></noscript>
	  </div>
</Layout>
