---
import Content from "../components/opt-in/Content.astro";
import Hero from "../components/opt-in/Hero.astro";
import Nosotros from "../components/opt-in/Nosotros.astro";
import Testimonios from "../components/opt-in/Testimonios.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Hero />
	<Content />
	<Nosotros />
	<Testimonios />
	<!-- <Faqs /> -->
	<p class="text-[#111]/80 px-4 text-center pb-12">© BioFounders 2025. Todos los derechos reservados.</p>
</Layout>