---
import Layout from '../layouts/Layout.astro';
import VideoEmbed from '../components/VideoEmbed.astro';
import Faqs from '../components/Faqs.astro';

const calendly = Astro.props.calendly;
---

<Layout>
	<div class="relative overflow-clip">
		<div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 -left-[310px] -top-[400px]"></div>
		<div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 -right-[310px] top-[600px]"></div>
		<section class="pb-[60px] pt-[40px] md:py-[60px] relative px-4">
		  <div class="max-w-[900px] mx-auto">
			<img class="h-[30px] md:h-[45px] object-contain mx-auto mb-8" src="/images/biofounders.png" alt="Bio Founders" />
			<p class="text-white/80 font-medium text-[16px] md:text-[20px] text-center mb-4">+170 yoga teachers trabajando con nosotros</p>
			<h1 class="text-[22px] leading-[26px] md:text-[44px] font-bold md:leading-[42px] text-center">
			  Sumamos entre <span class="--highlight">10 y 40 alumnos nuevos</span> por mes para tus
			  clases de Yoga con nuestro Sistema de Anuncios
			</h1>
			<!-- <p class="text-white/80 font-medium text-[16px] md:text-[20px] text-center mt-4 mb-8">Mira el video y descubrí cómo lo hacemos</p> -->
			<div class="mt-8">
				<p class="flex text-[18px] gap-2 p-2 items-center justify-center text-center bg-[#0c7eff] text-white font-semibold rounded-tr-lg rounded-tl-lg">
					<svg class="size-[20px] fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M301.1 34.8C312.6 40 320 51.4 320 64l0 384c0 12.6-7.4 24-18.9 29.2s-25 3.1-34.4-5.3L131.8 352 64 352c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l67.8 0L266.7 40.1c9.4-8.4 22.9-10.4 34.4-5.3zM425 167l55 55 55-55c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-55 55 55 55c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-55-55-55 55c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l55-55-55-55c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"/></svg>
					Clic para activar sonido
				</p>
				<VideoEmbed />
			</div>
			<div>
				<a href="#calendly" class="bf-btn mt-8">Agendar Entrevista Ahora »</a>
				<p class="text-white/80 text-center mt-2">¡Solos 5 cupos por semana!</p>
			</div>
		  </div>
		</section>
		<section class="relative pt-[60px] pb-[100px] px-4">
			<p class="text-white/80 font-medium text-[16px] md:text-[20px] text-center mb-4">Hemos ayudado a +170 teachers como vos</p>
			<h2 class="text-center text-white font-bold text-[26px] md:text-[36px] max-w-[400px] leading-[120%] mx-auto mb-8">Resultados de nuestro sistema...</h2>
			<div class="max-w-[900px] mx-auto">
				<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/l4mhpjya0l?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/88j5ccvet1?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/p824mmmqp4?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/b8xn8u9ucz?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/g0tibj3njb?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/782997tbkq?web_component=true&seo=true&videoFoam=false"></iframe>

					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/k8ozyawcav?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/v117462q9b?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="md:hidden aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/6k188v1l5y?web_component=true&seo=true&videoFoam=false"></iframe>
					<iframe loading="lazy" class="md:hidden aspect-[9/16] w-full" src="https://fast.wistia.net/embed/iframe/uc4iiuh7xp?web_component=true&seo=true&videoFoam=false"></iframe>
				</div>
				<div class="mt-8">
					<a href="#calendly" class="bf-btn">Agendar Entrevista Ahora »</a>
					<p class="text-white/80 text-center mt-2">¡Solos 5 cupos por semana!</p>
				</div>
			</div>
		</section>
		<section class="py-[60px] bg-white px-4">
		  <div class="max-w-[600px] mx-auto">
			<h4 class="mb-4 text-[22px] font-semibold text-[#111]">🌱 Nuestra esencia</h4>
			<p class="text-[#111]">
				Somos la primera comunidad de yoguis-emprendedores de Latino America. 
				<br><br>
				Creamos esta escuela porque nos duele ver a profesores de yoga atrapados en un ciclo de escasez, sin alumnos, sin rumbo y sin herramientas para prosperar en el mundo real. 
				<br><br>
				La Escuela de Yoguis Emprendedores nació para cortar con ese patrón.
				<br><br>
				Ayudamos a profesores a llenar sus clases, talleres y formaciones, pero sobre todo, los ayudamos a tomar responsabilidad absoluta por su camino y sus carreras.				
			</p>
		  </div>
		</section>		
		<section class="py-[60px] px-4" id="calendly">
			<div class="max-w-[900px] mx-auto mb-8">
				<h2 class="text-center text-white font-bold text-[26px] md:text-[36px] max-w-[400px] leading-[110%] mx-auto mb-4">Agenda una entrevista con nosotros</h2>
				<p class="text-white/80 text-center mb-4">¡Solos 5 cupos por semana!</p>
				<p class="text-white/80 text-center mb-4">Te ayudamos a conseguir entre 10 y 40 alumnos nuevos por mes para tus clases de yoga</p>
			</div>
			<!-- Calendly inline widget start -->
			<div class="calendly-inline-widget h-[950px] md:h-[880px] max-w-[600px] mx-auto" data-url="https://calendly.com/d/cqqs-vvq-3xn" style="min-width:320px;"></div>
			<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
			<!-- Calendly inline widget end -->
		</section>
		<Faqs />
		<section class="py-[60px] bg-white px-4">
			<div class="max-w-[600px] mx-auto">
			  <h4 class="mb-4 text-[22px] font-semibold text-[#111]">👋 Somos Agus y Lolo</h4>
			  <p class="text-[#111]">
				Fundadores de la Escuela de Yoguis Emprendedores.
				<br><br>
				Hace más de 5 años que nos dedicamos al marketing y la publicidad para marcas de bienestar. Y también somos instructores de respiración y yoga.
				<br><br>
				Creamos esta escuela porque vimos lo mismo una y otra vez:
				yoga teachers con mucho para dar, pero sin alumnos, sin ingresos estables y sin una estrategia clara para compartir su mensaje.
				<br><br>
				Nos cansamos de ver a nuestros yoguis rendirse.
				<br><br>
				Y decidimos fundar la escuela de yoguis emprendedores
				<br><br>
				La primera comunidad qué combina todo lo que aprendimos en estos años —respiración, espiritualidad y marketing para marcas de bienestar— para ayudarte a vivir del yoga con propósito, claridad y resultados significativos. 					
			  </p>
			</div>
		</section>
		<p class="text-[#111]/80 text-[14px] md:text-[16px] text-center py-8 bg-white">© Biofounders 2025. Todos los derechos reservados.</p>
		<script is:inline >
		  	!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1481141145776631');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style={{ 'display': 'none' }}
		  src="https://www.facebook.com/tr?id=1481141145776631&ev=PageView&noscript=1"
		/></noscript>
	  </div>
</Layout>
