<section class="pt-10 md:pt-[80px] mb-[100px] relative px-4">
	<div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 -left-[310px] -top-[400px]"></div>
	<div class="max-w-[760px] mx-auto text-center relative">
		<img class="h-[30px] md:h-[39px] object-contain mx-auto mb-8" src="/images/biofounders.png" alt="Bio Founders" />
		<p class="text-white/80 text-[20px] leading-[110%]">Masterclass Gratuita: Solo para Yoga Teachers</p>
		<h1 class="max-w-[760px] text-white font-bold text-[32px] leading-[110%] md:text-[51px] md:leading-[47px] mt-4">Aprendé Nuestro Sistema para Llenar tus Clases de Yoga</h1>
		<p class="text-white/80 text-[20px] mt-4 leading-[110%]">La nueva tecnica para que todas tus clases esten llenas</p>
		<div class="mt-4">
			<a class="block w-fit mx-auto font-bold text-white border-3 border-white/30 text-center py-5 px-12 rounded-full bg-[#FF904D]" href="#form">Hace clic para reservar tu lugar »</a>
			<p class="text-white/80 text-center mt-4">¡Ultimas plazas del mes!</p>
		</div>
		<div class="flex gap-4 justify-center items-center mt-[60px]">
			<img src="/images/fotos-clientes.png" alt="Fotos Clientes">
			<p class="text-white/80 text-start max-w-[250px] text-[18px] md:text-[20px] leading-[100%]">Hemos ayudado a +100 yoga teachers a llenar sus clases.</p>
		</div>
	</div>
</section>