<section class="pt-10 md:pt-[80px] mb-[100px] relative px-4 overflow-clip">
	<div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 -left-[310px] -top-[400px]"></div>
	<div class="max-w-[1040px] mx-auto text-center relative">
		<div class="flex md:flex-row flex-col gap-8">
			<div>
				<img class="h-[30px] md:h-[39px] object-contain mx-auto md:mx-0 mb-8" src="/images/escuela-de-yoguis-emprendedores-logo.png" alt="Bio Founders" />
				<div class="flex gap-4 flex-col-reverse md:flex-row items-center justify-center md:justify-start mb-4">
					<p class="text-[#0C7EFF] text-[18px] md:text-[20px] text-center md:text-start leading-[110%]">Masterclass Gratuita: Solo para Yoga Teachers</p>
					<img class="h-[15px] md:h-[17px]" src="/images/banderas.webp" alt="Banderas">
				</div>
				<h1 class="text-center md:text-start max-w-[760px] text-white font-bold text-[32px] leading-[110%] md:text-[48px] md:leading-[47px] mt-4">Aprendé Nuestro Sistema para Llenar tus Clases de Yoga</h1>
				<p class="text-white/80 text-center md:text-start text-[18px] mt-4 leading-[110%]">La nueva tecnica para que todas tus clases esten llenas</p>
				<img src="/images/vacia-vs-llena-mobile.webp" alt="Salas llenas vs salas vacias" class="md:hidden block w-full h-auto max-w-[350px] rounded-lg my-8" />
				<div class="mt-4 w-full md:w-fit">
					<button class="open-popup cursor-pointer block w-full md:w-fit font-bold text-white border-3 border-white/30 text-center py-5 px-12 rounded-full bg-[#FF904D]">Hace clic para reservar tu lugar »</button>
					<p class="text-white/80 text-center mt-4">¡Ultimas plazas del mes!</p>
				</div>
				<div class="flex gap-4 justify-start items-center mt-[60px]">
					<img src="/images/fotos-clientes.png" alt="Fotos Clientes">
					<p class="text-white/80 text-start w-full md:max-w-[250px] text-[18px] md:text-[20px] leading-[100%]">Hemos ayudado a +100 yoga teachers a llenar sus clases.</p>
				</div>
			</div>
			<img src="/images/vacia-vs-llena.webp" alt="Salas llenas vs salas vacias" class="md:block hidden w-full h-auto max-w-[350px] rounded-lg" />
		</div>
	</div>
</section>