<section class="py-[80px] relative px-4 overflow-clip">
	<!-- <div class="absolute blur-[60px] md:blur-[350px] size-[832px] rounded-full bg-[#151F57]/70 left-[calc(50%-416px)] -top-[400px]"></div> -->
	<div class="flex relative gap-8 max-w-[1040px] mx-auto flex-col md:flex-row items-center">
		<img src="/images/nosotros.webp" alt="Agustin y Lorenzo Bio Founders" class="w-full h-auto max-w-[500px] rounded-lg" />
		<div>
			<!-- <span class="text-white bg-[#151F57] py-[10px] mb-8 px-8 border-white/30 border-3 rounded-full block w-fit">¿Quienes somos?</span> -->
			<h3 class="font-bold text-[40px] text-white mb-4">Nuestra esencia</h3>
			<p class="text-white/80 text-[18px] leading-[120%]">
				Somos <strong>la primera comunidad de yoguis-emprendedores de Latinoamérica</strong>.
				<br/><br/>
				Creamos esta escuela porque <strong>nos duele ver a profesores de yoga atrapados en un ciclo de escasez</strong>, sin alumnos, sin rumbo y sin herramientas para prosperar en el mundo real.
				<br/><br/>
				<strong>La Escuela de Yoguis Emprendedores nació para cortar con ese patrón</strong>.
				<br/><br/>
				Ayudamos a profesores a <strong>llenar sus clases, talleres y formaciones</strong>, pero sobre todo, <strong>los ayudamos a tomar responsabilidad absoluta por su camino y sus carreras</strong>.
			</p>
			<div class="mt-8 w-fit">
				<button class="open-popup cursor-pointer block w-full md:w-fit font-bold text-white border-3 border-white/30 text-center py-5 px-12 rounded-full bg-[#FF904D]">Hace clic para reservar tu lugar »</button>
				<p class="text-white/80 text-center mt-4">¡Ultimas plazas del mes!</p>
			</div>
		</div>
	</div>
</section>