---
const testimonios = [
  {
    texto: `Testimonio 1`,
	nombre: `Nombre 1`,
	columna: 1,
  },
  {
    texto: `Testimonio 2`,
	nombre: `Nombre 2`,
	columna: 1,
  },
  {
    texto: `Testimonio 2`,
	nombre: `Nombre 2`,
	columna: 2,
  },
  {
    texto: `Testimonio 2`,
	nombre: `Nombre 2`,
	columna: 2,
  },
  {
    texto: `Testimonio 2`,
	nombre: `Nombre 2`,
	columna: 3,
  },
  {
    texto: `Testimonio 2`,
	nombre: `Nombre 2`,
	columna: 3,
  },
];

const col1 = testimonios.filter(t => t.columna === 1);
const col2 = testimonios.filter(t => t.columna === 2);
const col3 = testimonios.filter(t => t.columna === 3);
---

<section class="py-[60px] md:py-[80px] bg-white">
	<div class="max-w-[1040px] mx-auto px-4">
		<!-- <span class="text-white bg-[#151F57] py-[10px] mb-8 px-8 border-white/30 border-3 rounded-full block w-fit mx-auto">Testimonios</span>
		<h2 class="text-[24px] leading-[120%] md:text-[40px] md:leading-[50px] text-[#111] font-bold max-w-[740px] mx-auto text-center">
			Qué opinan los alumnos que tomaron la Masterclass:
		</h2> -->
		<div class="grid md:grid-cols-3 gap-4 mt-8">
			{[col1, col2, col3].map((col) => (
			<div class="columns-1">
				{col.map((t) => (
				<div class="border-1 border-black/20 p-8 rounded-lg mb-4">
					<img class="max-w-[106px]" src="/images/estrellas.webp" alt="Estrellas" />
					<p class="mt-4 text-[#111]/80">“{t.texto}”</p>
					{t.nombre && (
					<p class="mt-2 text-sm text-[#111]/60">— {t.nombre}</p>
					)}
				</div>
				))}
			</div>
			))}
		</div>
		<div class="mt-8">
			<a class="block w-fit mx-auto font-bold text-white border-3 border-white/30 text-center py-5 px-12 rounded-full bg-[#FF904D]" href="#form">Hace clic para reservar tu lugar »</a>
			<p class="text-[#111]/80 text-center mt-4">¡Ultimas plazas del mes!</p>
		</div>
	</div>
</section>